<!doctype html>
<html class="no-js" lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">	
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <title>UNIEL</title>
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/hover-min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">	
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
		<link rel="icon" href="css/login.png">
    </head>
	
	<body>
		
		<section id="menu">
			<div class="container">
				<div class="menubar">
					<nav class="navbar navbar-default">		
						<div class="navbar-header">
							<a class="navbar-brand" href="homs">
								UNIEL
							</a>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li class="active"><a href="/home">홈으로</a></li>
								<li><a href="review2">리뷰</a></li>
								<li><a href="https://linktr.ee/u.ni.el">예약하기</a></li>
								<li><a href="mypage">마이페이지</a></li>								
							</ul>
						</div>
					</nav>
				</div>
			</div>

		</section>

		<section class="header-slider-area">
			<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
			
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				</ol>

				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="single-slide-item slide-1">
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="single-slide-item-content">
											<h2>퍼스널컬러반영구 <br>태끄니끄 연산점</h2>
											<p>
												매달 조기 예약 마감 전국에서 찾아오는 반영구 전문샾 <br>전국최초 퍼스널컬러 반영구 시술 수강 도입 
											</p>
											<button type="button" class="slide-btn" onclick="gouniel()">
											시술 상담 & 예약
											</button>
											<button type="button"  class="slide-btn" onclick="gouniel()">
												수강 문의 [원데이/단과/정규]
											</button>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="single-slide-item slide-2">
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="single-slide-item-content">
											<h2>
												1만건 이상의 시술 경력 <br>전문가 에게
											</h2>
											<p>	매달 조기 예약 마감 전국에서 찾아오는 반영구 전문샾 <br>전국최초 퍼스널컬러 반영구 시술 수강 도입 

											</p>
											<button type="button" class="slide-btn">
												시술 상담&예약
											</button>
											<button type="button" class="slide-btn
">
												수강 문의[원데이/단과/정규]
											</button>
										</div>							
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="lnr lnr-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="lnr lnr-chevron-right"></span>
				</a>
			</div>

		</section>

		<section  class="we-do">
			<div class="container">
				<div class="we-do-details">
					<div class="section-header text-center">
						<h2>what we do</h2>
						<p>
							유행을 타는 것이 아닌나만의 무드에 맞춰 더욱 특별함그 특별함을 담고 싶다면답은 유니엘입니다<br>
							어떤 시술을 하고 싶으신가요?망설임은 시작을 늦출 뿐입니다</p>
					</div>
					<div class="we-do-carousel">
						<div class="row">
							<div class="col-sm-4 col-xs-12">
								<div class="single-we-do-box text-center">
									<div class="we-do-description">
										<div class="we-do-info">
											<div class="we-do-img">
												<img src="css/wedo1.png" alt="image of consultency" />
											</div>
											<div class="we-do-topics">
												<h2>
													<a href="#">
														K뷰티전문가연합회
													</a>
												</h2>
											</div>
										</div>
										<div class="we-do-comment">
											<p>
												제 15회 국제바디아트콘테스트에서<br>
												반영구 부문 수석 심사장으로 참가하게<br> 되었습니다.
												
												선수분들의 노력이 헛되지 <br> 않도록
												공정한 심사를 위해 최선을<br> 다하도록 하겠습니다.										</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="single-we-do-box text-center">
									<div class="we-do-description">
										<div class="we-do-info">
											<div class="we-do-img">
												<img src="css/wedo2.png" alt="image of business" />
											</div>
											<div class="we-do-topics">
												<h2>
													<a href="#">
														중국 진출
													</a>
												</h2>
											</div>
										</div>
										<div class="we-do-comment">
											<p>
												자체 제작 색소와 머신 등을
												14억 소비시장 중국에 선보일 수 있는 기회<br> 쉽지 않은 기회인 만큼
												알차게 준비해서<br> 한국의 국가대표 반영구 아카데미
												세계로 알리고 돌아오겠습니다 🔥
																							</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="single-we-do-box text-center">
									<div class="we-do-description">
										<div class="we-do-info">
											<div class="we-do-img">
												<img src="css/wedo3.png" alt="image of support" />
											</div>
											<div class="we-do-topics">
												<h2>
													<a href="#">
														태국 진출
													</a>

												</h2>
											</div>
										</div>
										<div class="we-do-comment">
											<p>
												국내는 물론 해외까지 장악한 아카데미 💎
												태국의 최대 규모 미용 대회에도<br> 함께합니다.
																							
												기회는 무궁 무진합니다.<br>
												여러분의 열린 가능성을 이루어드립니다.
												 									</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
		<section class="about-us">
			<div class="container">
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-6">
							<div class="single-about-us">
								<div class="about-us-txt">
									<h2>about us</h2>
									<p>
										기초부터 실전까지 꼼꼼하게 쌓아올린 탄탄한 <br>커리큘럼 꾸준한 사후 피드백과 커리어를 위한 다양한 이력 서포터
									</p>
									<div class="project-btn">
										<a href="/register"  class="project-view">회원가입
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="single-about-us">
								<div class="about-us-img">
									<img src="css/aboutus.png" alt="about images">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>

		<section  class="service">
				<div class="container">
					<div class="service-details">
						<div class="section-header text-center">
							<h2>our services</h2>
							<p>
								수강 상담과 커리큘럼 안내를
								일괄 방문상담으로만 진행하고 있습니다. 😇<br>
								
								제게는 저의 진정성을 전달해 드리는 소중한 시간이기도 하며
								상담 오시는 예비 수강생님께는 아카데미의 전반적인 분위기와<br>
								대표원장과의 소통을 통한 케미도 확인하실 수 있습니다.
								
								얼굴 한 번 보지 않고 수강을 결정하지 마세요. <br>
								제대로 신중하게 내 인생의 2막, 3막을 준비하세요.
								
								수강 상담은 무료로 진행되며 그렇다고 해서
								간단하게 혹은 대충 상담하지 않습니다. <br>
								한 분당 최소 30분 이상 진행합니다.
								가식적인 멘트가 아니라
								방문하신 각 예비 수강생님들의
								상황에 맞게 상담 도와드리고 있어요 ☺️ <br>
								
								타 지역 및 방문이 정말 어려우신 경우 유선 상담도 가능합니다. <br>
								
								유니엘을 두드려보세요 !
								성공의 길이 열립니다. <br>
								
								5, 6, 7월 창업 정규반 전체 마감
								8월 창업반 대기 가능합니다.					</p>
						</div>
						<div class="service-content-one">
							<div class="row">
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="css/oursurvice2.png" alt="image of service" />
										</div>
										<div class="service-txt">
											<h2>
												<a href="#">입술</a>
											</h2>
											<p>
												은은하게 물들여가는 과정
												눈 내린 듯 <br> 새하얀 입술에서
												키스를 부르는<br> 하트립으로 다시 태어나실 수 있습니다. <br>💋💋											</p>
											
										</div>
									</div>
								</div>
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="css/oursurvice3.png" alt="image of service" />
										</div>
										<div class="service-txt">
											<h2>
												<a href="#">눈썹</a>
											</h2>
											<p>
												은은하고 그윽한 눈매의 완성 유니엘 <br>
												얇지만 또렷한 라인 하나만으로 분위기가 확 달라져요 🖤											</p>
											
										</div>
									</div>
								</div>
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="css/oursurvice4.png" alt="image of service" />
										</div>
										<div class="service-txt">
											<h2>
												<a href="#">마스카라</a>
											</h2>
											<p>
												유니엘 블랙틴트펌 🖤 <br>
												번지지도 지워지지도 않는
												반영구 <br>마스카라 장착하고 싶으신 분 🙋🏻‍♀️ <br>
												
												속눈썹을 염색시켜 또렷한 눈매 완성 !
																					</p>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="service-content-two">
							<div class="row">
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="css/oursurvice5.png" alt="image of service" />
										</div>
										<div class="service-txt">
											<h2>
												<a href="#">타투 제거</a>
											</h2>
											<p>
												데미지는 최소화시켜
												피부에 안전한 <br> 시술받으실 수 있습니다. <br>
												
												레이저 전문 교육 이수 완료
												안전한 시술<br>
												타투 제거는 꼭 제거 전문가에게 받으세요.										</p>
											
										</div>
									</div>
								</div>
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="css/oursurvice6.png" alt="image of service" />
										</div>
										<div class="service-txt">
											<h2>
												<a href="#">수강</a>
											</h2>
											<p>
												여러분의 실력이 곧 제 실력이 됩니다. <br>
												허투루 대충 가르칠 수 없는 이유입니다. <br>
												
												수강생만 생각하는 유니엘 아카데미 📚											</p>
											
										</div>
									</div>
								</div>
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="css/oursurvice7.png" alt="image of service" />
										</div>
										<div class="service-txt">
											<h2>
												<a href="#">헤어라인</a>
											</h2>
											<p>
												M자 이마 아무도 모르게 탈출하기 ☺️ <br>
												헤어라인 반영구 실습 2회차만에 <br>
												완벽한 퀄리티내는 시술력 !	<br>
												나의 평생 무기가 될 기술 !			</p>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

		</section>
		

		<section  id="new-project" class="new-project">
				<div class="container">
					<div class="new-project-details">
						<div class="row">
							<div class="col-md-10 col-sm-8">
								<div class="single-new-project">
									<h3>
										전국 최초 퍼스널컬러 반영구 시술•수강 도입 🎨
									</h3>
								</div>
							</div>
							<div class="col-md-2 col-sm-4">
								<div class="single-new-project">
									<a href="#" class="slide-btn">
										수강문의
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>	

		</section>
		
		<section class="hm-footer">
			<div class="container">
				<div class="hm-footer-details">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="hm-footer-widget">
								<div class="hm-foot-title ">
									<div class="logo">
										<a href="/home">
											UNIEL
										</a>
									</div>
								</div>
								<div class="hm-foot-para">
									<p>
										자연스러움에서 비롯되는 고급스러움<br>
										매달 조기 예약 마감 <br> 전국에서 찾아오는 반영구 전문샵									</p>
								</div>
								<div class="hm-foot-icon">
									
								</div>
							</div>
						</div>
						<div class=" col-md-2 col-sm-6 col-xs-12">
							<div class="hm-footer-widget">
								<div class="hm-foot-title">
									<h4>UNIEL과 함께</h4>
								</div>
								<div class="footer-menu ">	  
									<ul>
										<li><a href="/home" >홈으로</a></li>
										<li><a href="/mypage">마이페이지</a></li>
										<li><a href="/review2">리뷰</a></li>
										<li><a href="https://linktr.ee/u.ni.el">예약하기</a></li>							
									</ul>
								</div>
							</div>
						</div>									
					</div>
				</div>
			</div>

		</section>
		
		<footer class="footer-copyright">
			<div class="container">
				<div class="row">
					<div class="col-sm-7">
						<div class="foot-copyright pull-left">
							<p>
								&copy; All Rights Reserved. Designed and Developed by
							 	<a href='/home'>UNIEL</a>
							</p>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="foot-menu pull-right
						">	  
							<ul>
								<li ><a>legal</a></li>
								<li ><a>sitemap</a></li>
								<li ><a>privacy policy</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div id="scroll-Top">
					<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
			</div>

		</footer>


		<script src="js/jquery.js"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
		
		<script src="js/bootsnav.js"></script>
		
		<script src="js/jquery.hc-sticky.min.js" type="text/javascript"></script>

		<script src="js/jquery.magnific-popup.min.js"></script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
		
		<script src="js/jquery.counterup.min.js"></script>
		<script src="js/waypoints.min.js"></script>
		
        <script type="text/javascript" src="js/jak-menusearch.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>
		<script> function gouniel(){
			window.location.href="https://linktr.ee/u.ni.el";
		}</script>

    </body>
</html>



